{%extends 'base.html'%}

{%block title%}
Добавить комментарий
{%endblock%}

{%block body%}
<h1 class="container">Оставьте комментарий</h1>
<form method="post" class="container">
    <input type="text" name="title" id="title" class="container form-control" placeholder="Введите заголовок комментария"><br>
    <textarea name="text" id="text" class="container form-control" placeholder="Введите Ваш комментарий"></textarea><br>
    <input type="submit" class="btn btn-success" value="Добавить">

</form>

{%endblock%}