{%extends 'base.html'%}

{%block title%}
ЛОГИЧЕСКИЕ ЗАДАЧИ ДЛЯ ДОШКОЛЬНИКОВ ПО ТЕМЕ «КАК ОБИТАТЕЛИ ЛЕСА К ЗИМОВКЕ ГОТОВЯТСЯ»
{%endblock%}

{%block body%}
<h1>
    ЛОГИЧЕСКИЕ ЗАДАЧИ ПРО ОСЕНЬ ДЛЯ ДЕТЕЙ С ОТВЕТАМИ
</h1>
<p>Текст рассказа — логической задачи для детей:

«Каждый по-своему готовится к зиме. Прыгает белка – непоседа. Собирает орехи, жёлуди, рассовывает их по дуплам, по древесным щелкам, вешает на кустики. Целый день работает белка и всё поглядывает на соседа – ежа, которые к осени совсем ленивым стал: мало бегает по лесу, не ловит мышей, заберётся в сухие листья да дремлет.
— Почему ты, еж, совсем разленился? – спрашивает белка. – Почему к зиме не готовишься, корм не запасаешь? Зимой естоь нечего будет.
Рассмеялся еж и что-то тихо сказал белке».<br><br><br>
Задание для детей: А ты догадался, что сказал ежик? Почему он запасов на зиму не делает? Почему ему грибы и желуди не нужны?
Выслушайте ответ ребенка, спросите, почему он так решил. Если малыш не отгадал эту логическую задачу, то напомните ему, что ежик всю зиму спит. А значит… и ничего не ест. Поэтому осенью он на своих иголках грибы не носит, как это показывается в мультфильмах. Ведь мультик – это сказка, и в нем многое придумано.</p>
{%endblock%}
